:root {
  --bg: #010101;
  --bg-section: #ffffff;
  --font-family: Netflix Sans, sans-serif;
  --mouse:#f4f4f4;
  --primary:#15B088;
  --primary-hover:#14a17e;
  --text-light: white;
}

[data-theme=light] {
  --bg: #010101;
  --text: #080f1f;
  --surface: #ffffff;
  --font-family: Netflix Sans, sans-serif;
  --mouse:#010101;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
button,
input,
textarea {
  font-family: var(--font-family);
  word-break: break-word !important;
}

.hover-font:hover {
  color: var(--primary);
}

.font-pri {
  color: var(--primary);
}

.bg-pri {
  background-color: var(--primary) !important;
}
.bg-pri:hover {
  background-color: var(--primary-hover);
}

.userBody {
  background-color: #121214 !important;
  color: var(--text-light);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-pri {
  background-color: var(--bg);
}

.custom-width {
  width: max-content;
  min-width: fit-content;
}

.border-r {
  border-right: 1px solid rgba(102, 102, 102, 0.479) !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.button-primary {
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  color: white;
  transition: 2s ease-out;
  width: max-content;
  font-weight: bold;
}

.button-primary:hover {
  background-color: var(--primary-hover);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book-location {
  font-size: 0.875rem;
  color: #ccc;
  margin-bottom: 0.5rem;
}

.label-rank {
  z-index: 10;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  background: linear-gradient(180deg, #fff 16.82%, hsla(0, 0%, 100%, 0.06) 96.58%);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.6px #fff;
}

.bg-rank-1 {
  background: linear-gradient(180deg, rgba(255, 55, 95, 0), rgba(255, 55, 95, 0.66));
}

.css-vycme6-MuiPickersInputBase-root-MuiPickersOutlinedInput-root {
  color: white !important;
}

.css-1his472-MuiFormControl-root-MuiPickersTextField-root {
  width: 100% !important;
}

.bg-with-overlay {
  position: relative;
  background-size: cover;
  background-position: center;
}

.bg-with-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.9) 80%, rgba(0, 0, 0, 0.7) 100%);
  backdrop-filter: blur(6px);
  z-index: 1;
}

.splide__arrow {
  background: rgba(0, 0, 0, 0.5) !important;
  border-radius: 9999px !important;
  padding: 1rem !important;
  width: 3rem !important;
  height: 3rem !important;
}

.splide__arrow svg {
  fill: white !important;
  width: 1.2rem !important;
  height: 1.2rem !important;
}

.bg-sec1 {
  background-image: url(/Images/Main/bg-banner-book.5607941.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-sec1::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.bg-sec1 > * {
  position: relative;
  z-index: 2;
}
