:root {
  --bg: #010101;
  --bg-section: #ffffff;
  --font-family: Netflix Sans, sans-serif;
  --mouse:#f4f4f4;
  --primary:#15B088;
  --primary-hover:#14a17e;
  --text-light: white;
}

[data-theme=light] {
  --bg: #010101;
  --text: #080f1f;
  --surface: #ffffff;
  --font-family: Netflix Sans, sans-serif;
  --mouse:#010101;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
button,
input,
textarea {
  font-family: var(--font-family);
  word-break: break-word !important;
}

.hover-font:hover {
  color: var(--primary);
}

.font-pri {
  color: var(--primary);
}

.bg-pri {
  background-color: var(--primary) !important;
}
.bg-pri:hover {
  background-color: var(--primary-hover);
}

.userBody {
  background-color: #121214 !important;
  color: var(--text-light);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-pri {
  background-color: var(--bg);
}

.custom-width {
  width: max-content;
  min-width: fit-content;
}

.border-r {
  border-right: 1px solid rgba(102, 102, 102, 0.479) !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.button-primary {
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  color: white;
  transition: 2s ease-out;
  width: max-content;
  font-weight: bold;
}

.button-primary:hover {
  background-color: var(--primary-hover);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book-location {
  font-size: 0.875rem;
  color: #ccc;
  margin-bottom: 0.5rem;
}

.label-rank {
  z-index: 10;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  background: linear-gradient(180deg, #fff 16.82%, hsla(0, 0%, 100%, 0.06) 96.58%);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.6px #fff;
}

.bg-rank-1 {
  background: linear-gradient(180deg, rgba(255, 55, 95, 0), rgba(255, 55, 95, 0.66));
}

.css-vycme6-MuiPickersInputBase-root-MuiPickersOutlinedInput-root {
  color: white !important;
}

.css-1his472-MuiFormControl-root-MuiPickersTextField-root {
  width: 100% !important;
}

.toggle .toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.toggle .toggle-slot {
  font-size: 10px;
  position: relative;
  height: 3.5em;
  width: 7em;
  border: 0px solid transparent;
  border-radius: 10em;
  background-color: white;
  transition: background-color 250ms;
}
.toggle .toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
}
.toggle .toggle-button {
  transform: translate(0.3em, 0.25em);
  position: absolute;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}
.toggle .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(3.65em, 0.25em);
}
.toggle .sun-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: #ffbb52;
}
.toggle .sun-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}
.toggle .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}
.toggle .moon-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: white;
}
.toggle .moon-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}
.toggle .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(2em, 2em) rotate(-15deg);
}

.spinner {
  position: relative;
  width: 33.6px;
  height: 33.6px;
  perspective: 67.2px;
}

.spinner div {
  width: 100%;
  height: 100%;
  background: #418a37;
  position: absolute;
  left: 50%;
  transform-origin: left;
  animation: spinner-16s03x 2s infinite;
}

.spinner div:nth-child(1) {
  animation-delay: 0.15s;
}

.spinner div:nth-child(2) {
  animation-delay: 0.3s;
}

.spinner div:nth-child(3) {
  animation-delay: 0.45s;
}

.spinner div:nth-child(4) {
  animation-delay: 0.6s;
}

.spinner div:nth-child(5) {
  animation-delay: 0.75s;
}

@keyframes spinner-16s03x {
  0% {
    transform: rotateY(0deg);
  }
  50%, 80% {
    transform: rotateY(-180deg);
  }
  90%, 100% {
    opacity: 0;
    transform: rotateY(-180deg);
  }
}
.bg-with-overlay {
  position: relative;
  background-size: cover;
  background-position: center;
}

.bg-with-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.9) 80%, rgba(0, 0, 0, 0.7) 100%);
  backdrop-filter: blur(6px);
  z-index: 1;
}

.splide__arrow {
  background: rgba(0, 0, 0, 0.5) !important;
  border-radius: 9999px !important;
  padding: 1rem !important;
  width: 3rem !important;
  height: 3rem !important;
}

.splide__arrow svg {
  fill: white !important;
  width: 1.2rem !important;
  height: 1.2rem !important;
}

.bg-sec1 {
  background-image: url(/Images/Main/bg-banner-book.5607941.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-sec1::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.bg-sec1 > * {
  position: relative;
  z-index: 2;
}
