h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
button,
input,
textarea {
    font-family:  var(--font-family);
    word-break: break-word !important;
 }

.hover-font:hover{
    color: var(--primary);
}

.font-pri{
    color: var(--primary);
}

.bg-pri{
    background-color: var(--primary) !important;
    &:hover{
           background-color: var(--primary-hover); 
    }
}